body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

button.pt-rotate {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

.pt-perspective {
  height: 170px;
  float: left;
  margin: 25px;
}

.pt-page {
  padding: 8px;
}
.pt-page:nth-child(1) {
  background: #0ac2d2;
}

.pt-page:nth-child(2) {
  background: #f68dbb;
}

.pt-page:nth-child(3) {
  background: #60d7a9;
}

.pt-page:nth-child(4) {
  background: #fdc162;
}

.pt-page:nth-child(5) {
  background: #fd6a62;
}
.code-demos .pt-perspective{
  margin: 0px;
}