<!DOCTYPE html>
<html ng-app lang="en" class="no-js">
<head>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="build/elementTransitions.css" />
  <link rel="stylesheet" type="text/css" href="demo/demo.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  <script src="build/elementTransitions.min.js"></script>
  <script src="demo/demo.js"></script>
</head>
<body ng-controller="demo">
  <a href="https://github.com/dan-silver/ElementTransitions.js"><img style="position: fixed; top: 0; right: 0; border: 0;z-index:1050" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#" data-target=".section-info">ElementTransitions.js</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#" data-target=".section-transitions">Transitions</a></li>
              <li><a href="#" data-target=".code-demos" >Examples</a></li>
              <li><a href="#" data-target=".section-usage">Usage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row section-info hero-unit">
      <h1>elementTransitions.js</h1>
      <p>This repository is a wrapper around the code provided by a <a href="http://tympanus.net/codrops/2013/05/07/a-collection-of-page-transitions/">codrops article on page transitions</a>.  Their code has been modified to allow more than one animatable element per page.  Additionally, you can now add transitions <a href="#" data-target=".code-demos">straight from html tags</a>.</p>
      <iframe src="http://ghbtns.com/github-btn.html?user=dan-silver&repo=ElementTransitions.js&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="32"></iframe><iframe src="http://ghbtns.com/github-btn.html?user=dan-silver&repo=ElementTransitions.js&type=follow&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="195" height="32"></iframe>
      <a class="help-block" href="https://github.com/dan-silver/ElementTransitions.js#license">License</a>
    </div>
    <div class="row section-transitions">
      <h2>All Transitions</h2>
      <div class="et-wrapper et-rotate span3" et-out='{{t.leave}}' et-in='{{t.enter}}' ng-repeat="t in transitions">
        <div class="et-page" ng-repeat="i in getNumber(number)">
          <h5>In:</h5>
          {{t.enter}}
          <h5>Out:</h5>
          {{t.leave}}
        </div>
      </div>
    </div>
    <div class="code-demos">
      <h2>Examples</h2>
      <div class="help-block">
        A <a href="example.html">stand alone example</a> is also available (no Bootstrap or Angular.js).
      </div>
      <div class="demo">
        <div class="row-fluid">
          <h4>Rotate on element click</h4>
        </div>
        <div class="et-wrapper et-rotate span4" et-in="rotateSlideIn" et-out="rotateSlideOut">
          <div class="et-page">
            <h2>Page 1</h2>
          </div>
          <div class="et-page">
            <h2>Page 2</h2>
          </div>
        </div>
        <div class="span8">
          <script src="https://gist.github.com/dan-silver/5941380.js"></script>
        </div>
      </div>
      <div class="demo">
        <div class="row-fluid">
          <h4>Rotate on button click</h4>
        </div>
        <div class="et-wrapper span4">
          <button class="et-rotate btn" et-in="rotateSlideIn" et-out="rotateSlideOut">Next</button>
          <div class="et-page">
           <h2>Page 1</h2>
         </div>
         <div class="et-page">
           <h2>Page 2</h2>
         </div>
       </div>
       <div class="span8">
        <script src="https://gist.github.com/dan-silver/5941430.js"></script>
      </div>
    </div>
    <div class="demo">
      <div class="row-fluid">
        <h4>Different transitions</h4>
      </div>
      <div class="et-wrapper span4">
        <div class="et-page">
         <h2>Page 1</h2>
         <button class="et-rotate btn" et-in="rotateCarouselRightIn" et-out="rotateCarouselRightOut">Next</button>
       </div>
       <div class="et-page">
         <h2>Page 2</h2>
         <button class="et-rotate btn" et-in="rotateCarouselLeftIn" et-out="rotateCarouselLeftOut">Back</button>
       </div>
     </div>
     <div class="span8">
      <script src="https://gist.github.com/dan-silver/5941468.js"></script>
    </div>
  </div>
</div>
<div class="row section-usage">
  <h2>Usage</h2>
  <p>
    jQuery needs to be included before the elementTransitions javascript file.  To load elementTransitions, add elementTransitions.js and elementTransitions.css to your page.  Here is an example of what should be in your head tag.
  </p>
    <script src="https://gist.github.com/dan-silver/5942389.js"></script>
  <p>
    Some animations use additional properties, such as a delay or "ontop".  These can be added inside the same et-in and et-out tags separated by a space.
  </p>
  <div class="et-wrapper et-rotate span4" et-out="scaleDown" et-in="scaleUpDown delay300">
    <div class="et-page ng-scope ng-binding">
      <h5>In:</h5>
      scaleUpDown delay300
      <h5>Out:</h5>
      scaleDown
    </div>
    <div class="et-page ng-scope ng-binding">
      <h5>In:</h5>
      scaleUpDown delay300
      <h5>Out:</h5>
      scaleDown
    </div>
    <div class="et-page ng-scope ng-binding">
      <h5>In:</h5>
      scaleUpDown delay300
      <h5>Out:</h5>
      scaleDown
    </div>
  </div>
  <div class="span8">
    <script src="https://gist.github.com/dan-silver/5944089.js"></script>
  </div>
    
</div>


</body>
</html>
