<!DOCTYPE html>
<html ng-app lang="en" class="no-js">
<head>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/component.css" />
  <link rel="stylesheet" type="text/css" href="css/animations.css" />
  <link rel="stylesheet" type="text/css" href="css/demo.css" />
  <script src="js/modernizr.custom.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  <script src="js/pagetransitions.js"></script>
  <script src="js/demo.js"></script>
</head>
<body ng-controller="demo">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#" data-target="body">ElementTransitions.js</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#" data-target=".code-demos" >Examples</a></li>
              <li><a href="#" data-target=".section-transitions">Transitions</a></li>
              <li><a href="#" data-target=".install">Installation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="code-demos">
      <h2>Examples</h2>
      <div class="demo">
        <div class="row-fluid">
          <h4>Rotate by clicking on the element</h4>
        </div>
        <div class="pt-perspective pt-rotate span4" pt-in="rotateSlideIn" pt-out="rotateSlideOut">
          <div class="pt-page">
           <h2>Page 1</h2>
         </div>
         <div class="pt-page">
           <h2>Page 2</h2>
         </div>
       </div>
       <div class="span8">
        <script src="https://gist.github.com/dan-silver/5941380.js"></script>
      </div>
    </div>
    <div class="demo">
      <div class="row-fluid">
        <h4>Rotate by clicking on a button</h4>
      </div>
      <div class="pt-perspective span4">
        <button class="pt-rotate btn" pt-in="rotateSlideIn" pt-out="rotateSlideOut">Next</button>
        <div class="pt-page">
         <h2>Page 1</h2>
       </div>
       <div class="pt-page">
         <h2>Page 2</h2>
       </div>
     </div>
     <div class="span8">
      <script src="https://gist.github.com/dan-silver/5941430.js"></script>
    </div>
  </div>
  <div class="demo">
    <div class="row-fluid">
      <h4>Different Transitions</h4>
    </div>
    <div class="pt-perspective span4">
      <div class="pt-page">
       <h2>Page 1</h2>
       <button class="pt-rotate btn" pt-in="rotateCarouselRightIn" pt-out="rotateCarouselRightOut">Next</button>
     </div>
     <div class="pt-page">
       <h2>Page 2</h2>
       <button class="pt-rotate btn" pt-in="rotateCarouselLeftIn" pt-out="rotateCarouselLeftOut">Back</button>
     </div>
   </div>
   <div class="span8">
    <script src="https://gist.github.com/dan-silver/5941468.js"></script>
  </div>
</div>
</div>
<div class="row">
  <h2 class="section-transitions">All transitions</h2>
  <div class="pt-perspective pt-rotate span2" pt-out='{{t.enter}}' pt-in='{{t.leave}}' ng-repeat="t in transitions">
   <div class="pt-page" ng-repeat="i in getNumber(number)">
    <h5>In: {{t.enter}}</h5>
    <h5>Out: {{t.leave}}</h5>
  </div>
</div>
</div>
</div>

</body>
</html>
